*,
*::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  min-width: 100%;
}

.page {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.nav-links {
  margin-right: 1.5rem;
  text-decoration: none;
}

.login {
  background-color: rgba(41, 91, 228, 0.835);
  color: white;
  padding: 9px 23px;
}
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #c2bdbd;
}

.speaker,
.mic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 500px;
  max-width: 585px;
  height: 20px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.btn {
  margin-top: 10px;
}

.btn-style {
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 0 16px;
  width: auto;
  height: 35px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #7a7171;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  line-height: 30px;
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-footer {
  margin-right: 20px;
  text-decoration: none;
}
